header .logo {
    font-size: 33px;
}

header .menutop ul {
    font-size: 13px;

}

header .menutop ul li {
    border-bottom: 2px solid #343a40;
}

header .menutop ul li:hover {
    border-bottom: 2px solid red;

}
header i{
    color:#6c757d;
}
header i:hover{
    color:red;
}

.fa-tshirt:before {
    content: "\f553";
    font-size: 35px;
}   
.fa-search:before {
    content: "\f002";
    font-size: 20px;
}

.fa-shopping-cart:before {
    content: "\f07a";
    font-size: 20px;
